@media screen and (min-width: 1024px){
    .sticky-sidebar a {
        width: 69px;
    }
    .sticky-sidebar .banner-left {
        left: calc(((100vw - 1200px)/2) - 80px);
    }
    .sticky-sidebar .banner-right {
        right: calc(((100vw - 1200px)/2) - 80px);
    }
}