/* MOBILE */
@media only screen and (max-width: 739px){
    .hide-small{
        display: none !important;
    }
    .col{
        float: left;
        width: 100% !important;
    }
    .mt-16{
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }
        
    .nav-right{
        display: none;
    }
    
    
    .navbar {
        height: 100%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        z-index: 1;
        overflow: auto;
    }
        
    .fl-right {
        float: right!important;
    }
    
    .black-color{
        color: #fff !important;
        background-color: #000 !important;
    }
    .btn-bar{
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
    .animation{
        position: relative;
        animation: modalFaceIn ease 0.8s;
        
    }
    @keyframes modalFaceIn {
        from {
            left: -200px;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }

}
/* TABLET */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    #header{
        padding-top: 62%;
    }
    .display-bottomleft{
        padding-left: 48px;
    }
    .col-two{
        width: 50%;
    }
    .hide-largemedium{
        display: none !important;
    }
}
/* PC */
@media only screen and (min-width: 1024px){
    .hide-largemedium{
        display: none !important;
    }
    .show{
        display: none !important;
    }
}